<html>
    <head>
        <title>IOT Server</title>
        <script src="src/frontend/utils/commonjs.js"></script>
        <script>
            loadModule('src/common/promisify');
            loadModule('src/common/template');
            loadModule('src/frontend/renderer');
            loadModule('src/frontend/utils/ajax');
            loadModule('src/frontend/menu');
            loadModule('src/frontend/main');
        </script>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
        <link rel="stylesheet" href="styles/main.css">
        <meta charset="utf-8">
    </head>
    <body>
        <div id="loadingIndicator" class="loader-line" hidden></div>
        <div class="grid-menu">
            {{#menuItems}}
                <button {{#id}}data-id="{{id}}"{{/id}}>{{caption}}</button>
            {{/menuItems}}
        </div>
    </body>
</html>